
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    
    <a href="/health"> health</a><br>
    <a href="/weight"> weight </a> <br>
    <a href="/unknown"> unknown</a> <br>
    <a href="/batch-weight"> batch-weight</a><br>
    <a href="/all_con"> show all containers registered</a><br>
    <a href="/all_transaction"> show all containers registered </a><br>
</body>
</html>