
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Weight System Web App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    
    <a href="/health"> health</a><br>
    <a href="/weight"> weight </a> <br>
    <a href="/unknown"> unknown</a> <br>
    <a href="/batch-weight"> batch-weight</a><br>
    <a href="/all_con"> get all containers registered</a><br>
    <a href="/all_transactions"> get  all Transactions</a><br>
    <a href="/session/1"> get session by id 1 </a><br>
    <a href="/add_weight"> Post Weight </a><br>



    </body>

</body>
</html>