<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>betch weight</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <form action="/weight" method="POST">
         direction: <input type="text" name="direction"> <p>in / out / none</p> <br>
         truck: <input type="text" name="truck"> <p> Truck ID </p> <br>
         containers: <input type="text" name="containers"> <p>T-000000  </p><br>
         bruto: <input type="text" name="bruto"><p>  Kg </p><br>
         truckTara: <input type="text" name="truckTara"> <p> Kg </p><br>
         produce: <input type="text" name="produce"> <p> tomato, orange </p><br>
        <input type="submit" value="Submit">
      </form> 
    </body>
</html>