<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>betch weight</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <form action="/batch-weight" method="POST">
         id: <input type="text" name="id"><br>
         datetime: <input type="text" name="datetime"><br>
         direction: <input type="text" name="direction"><br>
         truck: <input type="text" name="truck"><br>
         containers: <input type="text" name="containers"><br>
         bruto: <input type="text" name="bruto"><br>
         truckTara: <input type="text" name="truckTara"><br>
         neto: <input type="text" name="neto"><br>
         produce: <input type="text" name="produce"><br>
        <input type="submit" value="Submit">
      </form> 
    </body>
</html>